<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Update Post
        </div>
        <div class="card-body">
          <form [formGroup]="editForm" id="ngForm">
            <div class="form-group">
              <label for="addTitle" class="label-required">
                Please add title
              </label>
              <input type="text"
                     id="addTitle"
                     [ngClass]="!editForm.get('title').valid ? 'form-control is-invalid' : 'form-control is-valid'"
                     [(ngModel)]="post.title"
                     formControlName="title">
            </div>

            <div class="form-group">
              <label for="addText" class="label-required">
                Please add text
              </label>
              <textarea
                id="addText"
                [ngClass]="!editForm.get('text').valid ? 'form-control is-invalid' : 'form-control is-valid'"
                cols="30"
                rows="10"
                [(ngModel)]="post.text"
                formControlName="text"></textarea>
            </div>
          </form>
        </div>

        <div class="card-footer">
          <div class="d-flex justify-content-between">
            <button class="btn btn-danger" routerLink="/">
              <i class="fas fa-ban"></i>
              Cancel
            </button>
            <button type="button"
                    class="btn btn-primary"
                    form="ngForm"
                    [disabled]="!editForm.valid"
                    (click)="onSubmitForm()">
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
